In [2]:
#importing basic libaries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [25]:
#loadinng dataset and spliting it into dependent independent variables
dataset=pd.read_csv('User_Data.csv')
X=dataset.iloc[:, 1:4]
Y=dataset.iloc[:, 4]
X

     Gender  Age  EstimatedSalary
0      Male   19            19000
1      Male   35            20000
2    Female   26            43000
3    Female   27            57000
4      Male   19            76000
..      ...  ...              ...
395  Female   46            41000
396    Male   51            23000
397  Female   50            20000
398    Male   36            33000
399  Female   49            36000

[400 rows x 3 columns]

In [27]:
#encoding all the columns in X because they are in categorial format
from sklearn import preprocessing
label_encoder=preprocessing.LabelEncoder()
X['Gender']=label_encoder.fit_transform(X['Gender'])
X['Age']=label_encoder.fit_transform(X['Age'])
X['EstimatedSalary']=label_encoder.fit_transform(X['EstimatedSalary'])

In [31]:
#split into training and testinf sets
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(X, Y, test_size=0.25 ,random_state=0)

In [34]:
#importing library for decidion tree and declaring the classifier having 2 parameters
from sklearn.tree import DecisionTreeClassifier
classifier= DecisionTreeClassifier(criterion='entropy',max_depth=2)
classifier.fit(x_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=2)

In [36]:
#predicting the result of x_test
y_pred=classifier.predict(x_test)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1], dtype=int64)

In [37]:
#testing the accuracy of our model
from sklearn import metrics
accuracy= metrics.accuracy_score(y_test, y_pred)
accuracy

0.94